<div class="row-fluid img-row-home">
	<center>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	</center>
</div>
<div class="row-fluid img-row-home">
	<center>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	</center>
</div>
<div class="row-fluid img-row-home">
	<center>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	    <div class="span4">
	    	<h2 class="img-h2-home"><%= image_tag "ap1.jpg", :alt => 'imagem', :size => "60x60", :class => "img-home" %>Nullamlacus dui ipsum conseque loborttis</h2>
			<p class="img-p-home">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	    </div>
	</center>
</div>
