<h1>Editando Imagem</h1>
<br />

<div class="row">
	<div class="span8">
		<%= render 'form' %>
	</div>
	<div class="span4">
		<ul class="thumbnails">
		    <li class="span3">
			    <a href="#" class="thumbnail">
			    	<%= image_tag @imagem.arquivo_url(:thumb), :size => "200x200"  %>
			    </a>
			    <center>
			    	<h3><%= @imagem.nome%></h3>
				</center>
		    </li>
    	</ul>
	</div>
</div>

<%= link_to 'Visualizar', @imagem %> |
<%= link_to 'Voltar', imagems_path %>
