<br clear="all" \>
<%= simple_form_for(@imovel, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :estado %>
    
	<%unless @imovel.estado.blank? %>
		<%= f.association :cidade, :collection => @imovel.estado.cidades(:order => 'nome') %>
		<%unless @imovel.estado.cidade.blank? %>
			<%= f.association :bairro, :collection => @imovel.estado.cidades.where(:id => params[:imovel][:cidade_id]).first.bairros(:order => 'nome') %>
		<%else%>
			<%= f.association :bairro, :collection => [] %>
		<%end%>
	<%else%>
		<%= f.association :cidade, :collection => [] %>
		<%= f.association :bairro, :collection => [] %>
	<%end%>

    <%= f.association :tipo %>
    <%= f.association :pretensao %>
    <%= f.input :titulo, :hint => 'nome do empreendimento' %>
    <%= f.input :situacao, :collection => ["Novo", "Usado"], :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :endereco, :hint => 'visível apenas para o anunciante!' %>
    <%= f.input :quarto, :collection => 1..10, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :suite, :collection => 1..5, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :banheiro, :collection => 1..7, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :sala, :collection => 1..5, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :cozinha, :collection => 1..5, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :dependencia, :collection => 1..3, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :area %>
    <%= f.input :posicao, :hint => 'Ex: nascente/sul, nascente/norte' %>
    <%= f.input :garagem, :collection => 1..5, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :piscina, :collection => 1..5, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.input :valor %>
    <%= f.input :condominio %>
    <%= f.input :descricao %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
