<%= simple_form_for(@imovel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :estado %>
    
	<%if params[:estado_id]%>
		<%= f.association :cidade, :collection => Estado.find(params[:estado_id]).cidades(:order => 'nome') %>
	<%else%>
		<%= f.association :cidade, :collection => [] %>
	<%end%>
	
	<%if params[:cidade_id]%>
		<%= f.association :bairro, :collection => Cidade.find(params[:cidade_id]).bairros(:order => 'nome') %>
	<%else%>
		<%= f.association :bairro, :collection => [] %>
	<%end%>
    <%= f.association :tipo %>
    <%= f.association :pretensao %>
    <%= f.input :situacao, :as => :radio_buttons, :collection => ["Novo", "Usado"] %>
    <%= f.input :endereco %>
    <%= f.input :quarto, :collection => 1..10 %>
    <%= f.input :suite, :collection => 1..5 %>
    <%= f.input :banheiro, :collection => 1..7 %>
    <%= f.input :sala, :collection => 1..5 %>
    <%= f.input :cozinha, :collection => 1..5 %>
    <%= f.input :dependencia, :collection => 1..3 %>
    <%= f.input :area %>
    <%= f.input :posicao %>
    <%= f.input :garagem, :collection => 1..5 %>
    <%= f.input :piscina, :collection => 1..5 %>
    <%= f.input :valor, :as => :currency %>
    <%= f.input :condominio %>
    <%= f.input :descricao %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
