<!-- <p>
  <b>User:</b>
  <%= @imovel.user %>
</p> -->
<%unless @imovel.estado.blank?%>
	<p>
	  <b>Estado:</b>
	  <%= @imovel.estado %>
	</p>
<%end%>

<%unless @imovel.cidade.blank? %>
	<p>
	  <b>Cidade:</b>
	  <%= @imovel.cidade %>
	</p>
<%end%>

<%unless @imovel.bairro.blank? %>
	<p>
	  <b>Bairro:</b>
	  <%= @imovel.bairro %>
	</p>
<%end%>

<%unless @imovel.tipo.blank? %>
	<p>
	  <b>Tipo:</b>
	  <%= @imovel.tipo %>
	</p>
<%end%>

<%unless @imovel.pretensao.blank? %>
	<p>
	  <b>Pretensao:</b>
	  <%= @imovel.pretensao %>
	</p>
<%end%>

<%unless @imovel.situacao.blank? %>
	<p>
	  <b>Situacao:</b>
	  <%= @imovel.situacao %>
	</p>
<%end%>

<%unless @imovel.endereco.blank? %>
	<p>
	  <b>Endereco:</b>
	  <%= @imovel.endereco %>
	</p>
<%end%>

<%unless @imovel.quarto.blank? %>
	<p>
	  <b>Quarto:</b>
	  <%= @imovel.quarto %>
	</p>
<%end%>

<%unless @imovel.suite.blank? %>
	<p>
	  <b>Suite:</b>
	  <%= @imovel.suite %>
	</p>
<%end%>

<%unless @imovel.banheiro.blank? %>
	<p>
	  <b>Banheiro:</b>
	  <%= @imovel.banheiro %>
	</p>
<%end%>

<%unless @imovel.sala.blank? %>
	<p>
	  <b>Sala:</b>
	  <%= @imovel.sala %>
	</p>
<%end%>

<%unless @imovel.cozinha.blank? %>
	<p>
	  <b>Cozinha:</b>
	  <%= @imovel.cozinha %>
	</p>
<%end%>

<%unless @imovel.dependencia.blank? %>
	<p>
	  <b>Dependencia:</b>
	  <%= @imovel.dependencia %>
	</p>
<%end%>	

<%unless @imovel.area.blank? %>
	<p>
	  <b>Area:</b>
	  <%= @imovel.area %>
	</p>
<%end%>

<%unless @imovel.posicao.blank? %>
	<p>
	  <b>Posicao:</b>
	  <%= @imovel.posicao %>
	</p>
<%end%>

<%unless @imovel.garagem.blank? %>
	<p>
	  <b>Garagem:</b>
	  <%= @imovel.garagem %>
	</p>
<%end%>

<%unless @imovel.piscina.blank? %>
	<p>
	  <b>Piscina:</b>
	  <%= @imovel.piscina %>
	</p>
<%end%>

<%unless @imovel.condominio.blank? %>
	<p>
	  <b>Valor:</b>
	  <%= @imovel.condominio %>
	</p>
<%end%>

<%unless @imovel.condominio.blank? %>
	<p>
	  <b>Condominio:</b>
	  <%= @imovel.condominio %>
	</p>
<%end%>

<%unless @imovel.descricao.blank? %>
	<p>
	  <b>Descricao:</b>
	  <%= @imovel.descricao %>
	</p>
<%end%>
