<h1>Listando Imoveis</h1>
<br />

<table class="table table-condensed">
  <thead>
	  <tr>
	  	<th>Titulo</th>
	    <th>Cidade</th>
	    <th>Bairro</th>
	    <th>Tipo</th>
	    <th>Pretensao</th>
	    <th>Situacao</th>
	    <th>Area</th>
	    <th>Valor</th>
	    <th>Descricao</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>

<% @imovels.each do |imovel| %>
  <tbody>
	  <tr>
	  	<td><%= imovel.titulo %></td>
	    <td><%= imovel.cidade %></td>
	    <td><%= imovel.bairro %></td>
	    <td><%= imovel.tipo %></td>
	    <td><%= imovel.pretensao %></td>
	    <td><%= imovel.situacao %></td>
	    <td><%= imovel.area %></td>
	    <td><%= imovel.valor %></td>
	    <td><%= imovel.descricao %></td>
	    <td><%= link_to 'Visualizar', imovel %></td>
	    <td><%= link_to 'Editar', edit_imovel_path(imovel) %></td>
	    <td><%= link_to 'Excluir', imovel, confirm: 'Você tem certeza?', method: :delete %></td>
	  </tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'Novo Imovel', new_imovel_path %>
