<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @imovel.user %>
</p>

<p>
  <b>Estado:</b>
  <%= @imovel.estado %>
</p>

<p>
  <b>Cidade:</b>
  <%= @imovel.cidade %>
</p>

<p>
  <b>Bairro:</b>
  <%= @imovel.bairro %>
</p>

<p>
  <b>Tipo:</b>
  <%= @imovel.tipo %>
</p>

<p>
  <b>Pretensao:</b>
  <%= @imovel.pretensao %>
</p>

<p>
  <b>Situacao:</b>
  <%= @imovel.situacao %>
</p>

<p>
  <b>Endereco:</b>
  <%= @imovel.endereco %>
</p>

<p>
  <b>Quarto:</b>
  <%= @imovel.quarto %>
</p>

<p>
  <b>Suite:</b>
  <%= @imovel.suite %>
</p>

<p>
  <b>Banheiro:</b>
  <%= @imovel.banheiro %>
</p>

<p>
  <b>Sala:</b>
  <%= @imovel.sala %>
</p>

<p>
  <b>Cozinha:</b>
  <%= @imovel.cozinha %>
</p>

<p>
  <b>Dependencia:</b>
  <%= @imovel.dependencia %>
</p>

<p>
  <b>Area:</b>
  <%= @imovel.area %>
</p>

<p>
  <b>Posicao:</b>
  <%= @imovel.posicao %>
</p>

<p>
  <b>Garagem:</b>
  <%= @imovel.garagem %>
</p>

<p>
  <b>Piscina:</b>
  <%= @imovel.piscina %>
</p>

<p>
  <b>Valor:</b>
  <%= @imovel.valor %>
</p>

<p>
  <b>Condominio:</b>
  <%= @imovel.condominio %>
</p>

<p>
  <b>Descricao:</b>
  <%= @imovel.descricao %>
</p>


<%= link_to 'Edit', edit_imovel_path(@imovel) %> |
<%= link_to 'Back', imovels_path %>
