<p id="notice"><%= notice %></p>

<div class="row">
	<div class="span2">
		<%= render 'show_attrs' %>
	</div>
	<div class="span10">
		<%= render 'show_gallery' %>
	</div>
</div>

<%= link_to 'Editar', edit_imovel_path(@imovel) %> |
<%= link_to 'Voltar', imovels_path %>
