<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    	<% @banners.each.with_index do |b,index|%>
    		<div class="<%= "active" if index==1 %> item">
			    <div class="row-fluid">
			    	<div class="span1"></div>
			    	<div class="span7">
			    		<h2><%= b.imovel.titulo %></h2>
			            <p>
			            	<%= b.imovel.descricao %>
			            </p>
			            <p class="readmore">
			            	<%= link_to 'Ver Imóvel...', b.imovel %> &raquo;
			            </p>
			    	</div>
			    	<div class="span4 pull-right">
			    		<%= image_tag get_imovel_capa_url(b.imovel), :alt => '' %>
			    	</div>
			    </div>
	    	</div>
    	<%end%>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>