<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MeuImovelPB" %></title>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/import'%>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<%= render 'layouts/navigation'%>
        </div>
      </div>
    </div>
    <div class="container">
    	<div class="content">
    		<div class="row">
    			<div class="span9">
	            	<%= render 'layouts/carousel' %>
	            </div>
	            <div class="span3">
	            	<%= render 'layouts/sidebar'%>
	            </div><!--/span-->
    		</div>
    	</div>
    	<br clear="all">
    	<div class="content">
	        <div class="row">
	            <div class="span12">
	            	<%= render 'layouts/messages'%>
	            	<%= yield %>
	            </div><!--/span-->
	        </div><!--/row-->
        </div><!--/content-->
        <br clear="all">
        <footer>
			<div class="nav">
				<div class="navbar-inner">
					<div class="container">
						<p>&copy; Company 2012</p>
						<a class="brand" href="#">MeuImovelPB</a>
					</div>
				</div>
			</div>
		</footer>
    </div> <!-- /container -->
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>